@font-face {
    font-family: Agency Fb;
    src        : url(../fonts/Agency_FB.ttf)
}

@font-face {
    font-family: Basica;
    src        : url(../fonts/Basica_.ttf)
}

.navbar-item img {
    height    : 77%;
    width     : auto;
    max-height: 3.75rem;
}

@-moz-document url-prefix() {
    .logo {
        padding: 0px;
    }

    .navbar-burger {
        padding-left: 0px;
    }

    .navbar-item img {
        height    : 100%;
        width     : auto;
        max-height: 3.75rem;
    }
}

.hero.is-pattern-orange {
    background-image : url("../img/fundo-laranja.png");
    background-repeat: repeat;
}

.hero.is-pattern-purple {
    background-image : url("../img/fundo-roxo.png");
    background-repeat: repeat;
}

.logo {
    padding: 0px 0px 0px 16px;
}

.navbar {
    min-height: 4.25rem;
}

.navbar-item {
    font-family: Agency Fb;
    font-size  : 1.5rem;
}

.hiddenTab {
    display: none;
}

.site-map {
    font-family: Agency Fb;
}

.agency,
.is-1,
.is-2,
.is-3,
.is-4 {
    font-family: Agency Fb;
}

.texto {
    font-family: Arial;
}

.card {
    height: 100%;
    width : 100%;
}

.slider-caracas {
    padding-top: 4.1rem;
}

.swiper-container {
    width : 90%;
    height: 100%;
    margin: 0;
}

.swiper-slide {
    background-size    : cover;
    background-position: center;
    text-align         : center;
    height             : 100%;
    font-size          : 16px;
    background         : transparent;
    /* Center slide text vertically */
    display                : -webkit-box;
    display                : -ms-flexbox;
    display                : -webkit-flex;
    display                : flex;
    -webkit-box-pack       : center;
    -ms-flex-pack          : center;
    -webkit-justify-content: center;
    justify-content        : center;
    -webkit-box-align      : center;
    -ms-flex-align         : center;
    -webkit-align-items    : center;
    align-items            : center;
}

.is-shady {
    animation    : flyintoright .4s backwards;
    background   : #fff;
    box-shadow   : rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display      : inline-block;
    margin       : 10px;
    position     : relative;
    transition   : all .2s ease-in-out;
}

.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

.big-figure {
    padding-top: 65px;
}

.mobile {
    display: none;
}

.slider1-mobile {
    display: none;
}

.desktop {
    display: flex;
}

@media only screen and (max-width:806px) {
    .mobile {
        display: flex;
    }
    .desktop {
        display: none;
    }
}

@media only screen and (max-width:769px) {
    .hero.is-medium .hero-body {
        padding: 8rem 1.5rem;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .navbar-item img {
        height: 100%;
        width : 22%;
    }
    .navbar-burger {
        padding-left: 30px;
    }
}

@media only screen and (max-width:660px) {
    .slider1 {
        display: none
    }
    .slider1-mobile {
        display: flex;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .navbar-brand,
    .navbar-tabs {
        max-width: 1rem;
    }
}



#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

/*Thanks to: https://gist.github.com/smeranda/2571173 */

.footer-porquinho {
    margin-top: 1.5rem;
    width     : 70%;
    /*height: 115%;*/
}

.footer {
    padding-bottom: 2rem;
    /*Diinuir depois*/
}

.tabs {
    background-color: #fff;
}

.caracas {
    font-family: Basica;
    color      : #EA852D;
}

.geek {
    font-family: Basica;
    color      : #F3D70E;
}

.fest {
    font-family: Basica;
    color      : #C12026;
}

.auditorio{
    color: #C12026;
}

.sala{
    color: #381236;
}

.titulo {
    font-family   : Basica;
    letter-spacing: 5px;
}